.rebel-style--component_date-label {
  justify-content: center;
  align-items: center;
  align-self: center;
}

.rebel-style--component_date-label:where(.w-variant-511a967a-b411-f08a-9882-db680b1d54fe) {
  font-size: var(--rebel-style_type---text-size--text-size-sm);
}

.rebel-style--component_date-label:where(.w-variant-b1d43679-a20e-3d90-5812-e310762336f5) {
  font-size: var(--rebel-style_type---text-size--text-size-lg);
}

.rebel-style--component_date-label:where(.w-variant-eebdf314-bdfe-f1e4-a83c-9626bc352883) {
  font-size: var(--rebel-style_type---text-size--text-size-md);
  color: inherit;
}